.AppContent {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Trebuchet MS";
}

body {
    font-family: "Roboto";
}

.AppCharts {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}