.ChartForm {

    .MuiFormControl-root {
        margin: 20px;
    }

    .inputErrors {
        color: #ad1010;

        p {
            font-size: 12px;
            overflow: scroll;
        }
    }
}
