$primary-color: rgb(0, 93, 171);
$secondary-color: rgb(255, 255, 255);

.ForecastTable {
    margin: 20px;
    border: 1px solid black;
    border-collapse: collapse;

    th {
        background-color: $primary-color;
        color: $secondary-color;
        border: 1px solid black;
        padding: 10px;
        text-align: center;
    }

    td {
        border-left: 1px solid black;
        padding: 5px;
        text-align: center;
    }

    tr:nth-child(even) {
        background-color: #eeeeee;
    }
}